extends ../layouts/default.pug
include ../mixins/products.pug
include ../mixins/box-breadcrumb.pug


block main
  // Breadcrumb
  +box_breadcrumb(breadcrumbList)
  // End Breadcrumb

  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          .box-images
            .inner-images-main
              .swiper.swiper-box-images-main
                .swiper-wrapper
                  each image in detailedTour.images
                    .swiper-slide
                        .inner-image
                          img(
                            alt=""
                            src=image
                            )
            .inner-images-thumb
              .swiper.swiper-box-images-thumb
                .swiper-wrapper
                  each image in detailedTour.images
                    .swiper-slide
                        .inner-image
                          img(
                            alt=""
                            src=image
                            )
          .box-tour-info
            .inner-title Thông Tin Tour
            .inner-content !{detailedTour.information}
            .inner-read-more
              button.button-outline Xem tất cả
          .box-tour-schedule
            .inner-title-main Lịch Trình Tour
            .inner-list
              .inner-item
                each item in detailedTour.schedules
                  .inner-title !{item.title}
                  .inner-content !{item.description}
        .inner-right
          .box-tour-detail  
            .inner-title-main Chuyến Đi Của Bạn
            .inner-product
              .inner-image
                img(
                  alt="" 
                  src=detailedTour.avatar
                  )
              .inner-info
                .inner-title #{detailedTour.name}
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                  .inner-number 500 lượt đánh giá
            .inner-meta
              .inner-item
                i.fa-solid.fa-ticket-simple
                span Mã Tour:
                span.inner-highlight 28T00001
              .inner-item
                i.fa-solid.fa-calendar-days
                span Thời Gian:
                span.inner-highlight #{detailedTour.time}
              .inner-item
                i.fa-solid.fa-truck-plane
                span Phương Tiện:
                span.inner-highlight #{detailedTour.vehicle}
              .inner-item
                i.fa-solid.fa-calendar-days
                span Ngày Khởi Hành:
                span.inner-highlight #{detailedTour.formatDepartureDate}
            .inner-form
              label.inner-label Khởi Hành Tại:
              select(name="locationFrom")
                each item in locationNameList
                  option(value=item.id) #{item.name}
            .inner-quantity
              label.inner-label Số Lượng Hành Khách
              .inner-list
                .inner-item
                  .inner-item-label Người lớn:
                  .inner-item-input
                    input(
                      value="0" 
                      min="0" 
                      max=detailedTour.stockAdult
                      type="number"
                      input-quantity="stockAdult"
                      data-price=detailedTour.priceNewAdult
                      )
                  .inner-item-price
                    span(label-quantity="stockAdult") 0
                    span x
                    span.inner-highlight #{detailedTour.priceNewAdult.toLocaleString("vi-VN")}
                .inner-item
                  .inner-item-label Trẻ em:
                  .inner-item-input
                    input(
                      value="0" 
                      min="0" 
                      max=detailedTour.stockChildren
                      type="number"
                      input-quantity="stockChildren"
                      data-price=detailedTour.priceNewChildren
                      )
                  .inner-item-price
                    span(label-quantity="stockChildren") 0
                    span x
                    span.inner-highlight #{detailedTour.priceNewChildren.toLocaleString("vi-VN")}
                .inner-item
                  .inner-item-label Em bé:
                  .inner-item-input
                    input(
                      value="0" 
                      min="0" 
                      max=detailedTour.stockBaby
                      type="number"
                      input-quantity="stockBaby"
                      data-price=detailedTour.priceNewBaby
                      )
                  .inner-item-price
                    span(label-quantity="stockBaby") 0
                    span x
                    span.inner-highlight #{detailedTour.priceNewBaby.toLocaleString("vi-VN")}
            .inner-total
              .inner-total-label Tổng cộng:
              .inner-total-price
                span(total-price) 0
                span đ
            button.inner-button-add-cart(
              button-add-cart
              tour-id=detailedTour.id
              ) Thêm Vào Giỏ Hàng
  // End Section 10
