extends ../layouts/default.pug

block main
  if (permissions.includes("dashboard-view"))
    h1.box-title Tổng quan

    //- Section 1
    .section-1
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-1.svg")
        .inner-content
          .inner-title Tài khoản quản trị
          .inner-number #{overview.totalAdmin.toLocaleString("vi-VN")}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-2.svg")
        .inner-content
          .inner-title Đơn hàng
          .inner-number #{overview.totalOrder.toLocaleString("vi-VN")}
      .inner-item
        .inner-icon
          img(src="/admin/assets/images/section-1-icon-3.svg")
        .inner-content
          .inner-title Doanh thu
          .inner-number #{overview.totalRevenue.toLocaleString("vi-VN")}đ
    //- End Section 1

    //- Section 2
    .section-2
      .inner-head
        h2.inner-title Biểu đồ doanh thu
        .inner-filter
          input(
            type="month"
            name=""
            filter-month
          )
      .inner-chart
        canvas(id="revenue-chart")
    //- End Section 2

    
  else
    h1 Không có quyền truy cập