extends ../layouts/default.pug
include ../mixins/options.pug


block main
  if (permissions.includes("tour-edit"))
    h1.box-title Chỉnh sửa tour

    .section-8
      form#tour-edit-form
        .inner-group(style="display: none;")
          label(class="inner-label" for="id") Tên tour
          input(type="text" id="id" name="id" value= detailedTour.id)
        .inner-group
          label(class="inner-label" for="name") Tên tour
          input(type="text" id="name" name="name" value= detailedTour.name)
        .inner-group
          label(class="inner-label" for="category") Danh mục
          select(id="category" name="category")
            option(value="") -- Chọn danh mục --
            +options(categoryTree, 0, detailedTour.category) 
        .inner-group
          label(class="inner-label" for="position") Vị trí
          input(type="number" id="position" name="position" value = detailedTour.position)
        .inner-group
          label(class="inner-label" for="status") Trạng thái
          select(id="status" name="status")
            option(value="active" selected=(detailedTour.status == "active" ? true : false)) Hoạt động
            option(value="inactive" selected=(detailedTour.status == "inactive" ? true : false)) Dừng hoạt động
        .inner-group.inner-two-col
          label(class="inner-label" for="avatar") Ảnh đại diện
          div(class="inner-upload-image" image-default = detailedTour.avatar)
            input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
        .inner-group.inner-two-col
          label(class="inner-label" for="images") Danh sách ảnh
          div(class="inner-upload-image-multi" list-image-default=detailedTour.images) 
            input(type="file" multiple data-allow-reorder="true" id="images" accept="image/*" filepond-image-multi name="images")
        .inner-group
          label(class="inner-label") Giá cũ
          .inner-input-list
            .inner-input-item
              label Người lớn
              input(type="number" name="priceAdult" value=detailedTour.priceAdult)
            .inner-input-item
              label Trẻ em
              input(type="number" name="priceChildren" value=detailedTour.priceChildren)
            .inner-input-item
              label Em bé
              input(type="number" name="priceBaby" value=detailedTour.priceBaby)
        .inner-group
          label(class="inner-label") Giá mới
          .inner-input-list
            .inner-input-item
              label Người lớn
              input(type="number" name="priceNewAdult" value=detailedTour.priceNewAdult)
            .inner-input-item
              label Trẻ em
              input(type="number" name="priceNewChildren" value=detailedTour.priceNewChildren)
            .inner-input-item
              label Em bé
              input(type="number" name="priceNewBaby" value=detailedTour.priceNewBaby)
        .inner-group
          label(class="inner-label") Còn lại
          .inner-input-list
            .inner-input-item
              label Người lớn
              input(type="number" name="stockAdult" value=detailedTour.stockAdult)
            .inner-input-item
              label Trẻ em
              input(type="number" name="stockChildren" value=detailedTour.stockChildren)
            .inner-input-item
              label Em bé
              input(type="number" name="stockBaby" value=detailedTour.stockBaby)
        .inner-group
          label(class="inner-label") Những địa điểm có tour
          .inner-checkbox-list
            each city in cityList
              .inner-checkbox-item
                  input(type="checkbox"
                      id = `location-${city.id}`
                      name="locations" 
                      value=city.id
                      checked=(detailedTour.locations.includes(city.id))
                      )
                  label(for=`location-${city.id}`) #{city.name}
        .inner-group
          label(class="inner-label" for="time") Thời gian
          input(type="text" id="time" name="time" value= detailedTour.time)
        .inner-group
          label(class="inner-label" for="vehicle") Phương tiện
          input(type="text" id="vehicle" name="vehicle" value=detailedTour.vehicle)
        .inner-group
          label(class="inner-label" for="departureDate") Ngày khởi hành
          input(type="date" id="departureDate" name="departureDate" value=detailedTour.departureDateFormat)
        .inner-group.inner-two-col
          label(class="inner-label" for="information") Thông tin tour
          textarea(id="information" textarea-mce name="information" ) #{detailedTour.information}
        .inner-group.inner-two-col
          label(class="inner-label") Lịch trình tour
          .inner-schedule
            .inner-schedule-list
              if(detailedTour.schedules.length > 0)
                each detailedSchedule in detailedTour.schedules
                  .inner-schedule-item
                    .inner-schedule-head
                      span(class="inner-schedule-button inner-move")
                        <i class="fa-solid fa-up-down-left-right"></i>
                      input(type="text" value=detailedSchedule.title)
                      span(class="inner-schedule-button inner-remove")
                        <i class="fa-regular fa-trash-can"></i>
                      span(class="inner-schedule-button inner-more")
                        <i class="fa-solid fa-angle-down"></i>
                    .inner-schedule-body
                      textarea(textarea-mce) #{detailedSchedule.description}
              else
                .inner-schedule-item
                  .inner-schedule-head
                    span(class="inner-schedule-button inner-move")
                      <i class="fa-solid fa-up-down-left-right"></i>
                    input(type="text")
                    span(class="inner-schedule-button inner-remove")
                      <i class="fa-regular fa-trash-can"></i>
                    span(class="inner-schedule-button inner-more")
                      <i class="fa-solid fa-angle-down"></i>
                  .inner-schedule-body
                    textarea(textarea-mce)
              
            .inner-schedule-create + Thêm lich trình
        .inner-button.inner-two-col
          button Cập nhật
      .inner-back
        a(href=`/${pathAdmin}/tour/list`) Quay lại danh sách